<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rm.plat.mapper.BookReviewReportMapper">
    <select id="queryBookReviewReportListByBookReview" parameterType="int" resultType="BookReviewReport">
        select * from mybatis.bookreviewreport where bookreviewid = #{bookreviewid} order by deal asc
    </select>

    <select id="queryBookReviewReportById" resultType="BookReviewReport" parameterType="int">
        select * from mybatis.bookreviewreport where breportid = #{breportid}
    </select>

    <select id="queryBookReviewReportList" resultType="BookReviewReport">
        select * from bookreviewreport order by deal asc
    </select>

    <select id="queryUndealBookReviewReportList" resultType="BookReviewReport">
        select * from bookreviewreport where deal=0
    </select>

    <insert id="addBookReviewReport" parameterType="BookReviewReport">
        insert into bookreviewreport (breportid,bookreviewid,userid,title,content,addtime,deal) values (#{breportid},#{bookreviewid},#{userid},#{title},#{content},#{addtime},#{deal})
    </insert>

    <update id="updateBookReviewReport" parameterType="BookReviewReport">
        update bookreviewreport set bookreviewid=#{bookreviewid},userid=#{userid},title=#{title},content=#{content},addtime=#{addtime},deal=#{deal} where breportid=#{breportid}
    </update>

    <delete id="deleteBookReviewReport" parameterType="int">
        delete from bookreviewreport where breportid=#{breportid}
    </delete>

    <select id="cnt" resultType="int">
        select count (*) from bookreviewreport
    </select>

    <select id="max" resultType="int">
        select ifnull(max(breportid),0) from bookreviewreport
    </select>
</mapper>