<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rm.plat.mapper.TopicCommentReplyMapper">
    <select id="queryTopicCommentReplyById" resultType="TopicCommentReply" parameterType="int">
        select * from topiccommentreply where commentreplyid=#{commentreplyid}
    </select>

    <select id="queryTopicCommentReplyByComment" resultType="TopicCommentReply" parameterType="int">
        select * from topiccommentreply where commentid=#{commentid} order by addtime desc
    </select>

    <insert id="addTopicCommentReply" parameterType="TopicCommentReply">
        insert into topiccommentreply(commentreplyid,commentid,userid,content,addtime) values (#{commentreplyid},#{commentid},#{userid},#{content},#{addtime})
    </insert>

    <update id="updateTopicCommentReply" parameterType="TopicCommentReply">
        update topiccommentreply set commentid={commentid},userid=#{userid},content=#{content},addtime=#{addtime} where commentreplyid=#{commentreplyid}
    </update>

    <delete id="deleteTopicCommentReply" parameterType="int">
        delete from topiccommentreply where commentreplyid=#{commentreplyid}
    </delete>

    <select id="cnt" resultType="int">
        select count(*) from topiccommentreply
    </select>

    <select id="max" resultType="int">
        select ifnull(max(commentreplyid),0) from topiccommentreply
    </select>

</mapper>