<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer"/>
    <title>书荫光影-书虫影迷聚集地</title>
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
          <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
          <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" th:href="@{/css/TopicIndex.css}"/>
      <style type="text/css" >
 
   </style>
   
   </head>
   <body style="margin: 0;">
   <div id="app">
       <div th:insert="~{commons/common::topbar-login}"></div>

           <div id = "box">
            <el-container direction="vertical">
              <el-header style="background-color: white;text-align: left;opacity: 0.95;">
                <h1 style="color:yellowgreen;font-size:35px;margin-left: 5px; margin-top: 3px;">影 视 V i d e o</h1>
              </el-header>
                      <el-main style="background-color: white;text-align: left;opacity: 0.95;">
                          <div id="forms">

   			
                              <el-form :model="VideoReview" :rules="rules" ref="VideoReview" label-width="100px" class="demo-ruleForm">
                                <el-form-item  style="width: 1000px; margin-left: 0px;">
                                    <input type="hidden" id="videoid" th:value="${videoid}"/>
                                    <input type="hidden" id="userid" th:value="${session.loginUser.userid}"/>
                                <span style="font-size: 150%;margin-left: 0px;">添加影评</span>
                                <el-form-item label="影评标题" prop="Title" style="margin: 10px;margin-bottom: 15px;" >
                                  <el-input v-model="VideoReview.Title"></el-input>
                                  </el-form-item>
                                <el-form-item label="影评内容" prop="content" style="margin: 10px;">
                                  <el-input type="textarea" v-model="VideoReview.content" rows="20"></el-input>
                                </el-form-item>
                                <el-form-item style="margin-left: 350px;">
                                  <el-button type="mini" @click="submitForm('VideoReview')" class="myButton" style="color: white;">发表影评</el-button>
                                </el-form-item>
                              </el-form>
                            </div>
                          
                          </div>
                      </el-main>
            </el-container>
            
            
          </div>
      
   </div>
   
   <script type="text/javascript">
       const vm = new Vue({
           el:'#app',
           data: {
               input: "",
               show: false,
               search_word: "",
               VideoReview:{
   							Title:"",
   							content:""
   						},
   						rules:{
   							Title:[
   								{ required: true, message: '请输入影评标题', trigger: 'blur' }
   								],
   						  content:[
   								{ required: true, message: '请填写影评内容', trigger: 'blur' },
   								{ min: 25,message: '内容少于25字', trigger: 'blur' }
   								],
   						}
           },
           methods:{
               submitForm(formName) {
                       this.$refs[formName].validate((valid) => {
                         if (valid) {
                           alert('添加成功!');
                             const title=this.VideoReview.Title;
                             const content=this.VideoReview.content;
                             const videoid=document.getElementById("videoid");
                             const userid=document.getElementById("userid");
                             window.location.href="/AddVideoReview?userid="+userid.value+"&videoid="+videoid.value+"&title="+title+"&content="+content;
                         } else {
                           console.log('添加失败!');
                           return false;
                         }
                       });
                     },
           },
       });
   </script>
   </body>
   </html>