<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>书荫光影-书虫影迷聚集地</title>
<link rel="stylesheet" th:href="@{/css/ForgetPwd.css}"/>
<link rel="stylesheet" th:href="@{/css/fonts/fontawesome-webfont.ttf}"/>
<link rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body style="width:500px;">

<!--导航栏，跳转到不同的分页面-->
<div id="app">
	<div th:insert="~{commons/common::topbar-nologin}"></div>
	</div>

	<div>
		<form id = "login-box" th:action="@{/ForgetPassword}" method="post">
			<!--找回密码-->
			<h1 style="color: white;">找 回 密 码</h1>
			<div class = "form">
				<!--第一个注册表单：填写-邮箱账号、手机号、密码、再次输入密码-->
				<!--带*号的为必填选项，需要加以判断-->
				<fieldset>
					<p th:text="${ForgetPwdMsg0}" style="color: red"></p>
					<label for="username" style="color:black;"><br>输入用户名:&emsp;<i class="required">*</i>
					<input type="text" name="username" id="username" required="required" placeholder="username"/>
					</label>
					<label for="email" style="color:black;"><br>输入安全邮箱: <i class="required">*</i>
						<input type="email" name="email" id="email" required="required" placeholder="example@mail.com">
					</label>
					<br>
					<input type="submit" class="action-button" style ="
					 box-shadow: 0px 10px 14px -7px #a6827e;
    background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    background-color: #7d5d3b;
    border: 0 none;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
	font-size: 20px;
    font-weight: bold;
	padding: 13px 17px;

    text-decoration: none;
    text-shadow: 0px 1px 0px #4d3534;
    margin-top: 50px;
    margin-right: 46px;
	margin-left: 43px;"
						   value="提 交">

				</fieldset>

		</form>

<script th:src='@{js/jquery.min.js}'></script>
<script th:src='@{js/jquery.easing.min.js}'></script>
<script th:src="@{js/index.js}"></script>

</body>
<script>
    new Vue({
      el: '#app' ,
      data: {
		  input:'',
      	function() {
			  return { visible: false }
		  }
	  }
    })
  </script>
</html>
